    body {
        width:100%;
        margin:auto;
        color: #566787;
        background: #f7f5f2;
        font-family: 'Roboto', sans-serif;

    }
   
  
.container{
    padding:20px;
    border:dotted 1px;
    white-space:nowrap;
    overflow-x:auto;
}


div.includecontent{
    overflow: scroll;
    overflow-x:auto;

    display:inline-block

}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #337ab7;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #337ab7;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
    
    .pre {
        white-space: pre;
    }
    .pre-wrap{
       white-space: pre-wrap;
    }
    .pre-line{
       white-space: pre-line;
    }
    
    .inline-block{
        display:inline-block
    }

    
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}
.required
{
    color: red;
}

.button2 {background-color: #337ab7;} /* Blue */
