body {
    color: #566787;
    background: #f7f5f2;
    font-family: 'Roboto', sans-serif;
  
  }
  
  .pre {
    white-space: pre;
  }
  .pre-wrap{
   white-space: pre-wrap;
  }
  .pre-line{
   white-space: pre-line;
  }
  
  .inline-block{
    display:inline-block
  }
  
  .table-title {
            color: #fff;
            background: #337ab7;
            padding: 16px 25px;
            margin: -20px -25px 10px;
            border-radius: 3px 3px 0 0;
  }
  .table-wrapper {
    background: #fff;
    padding: 20px 25px;
    margin: 30px auto;
            border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
  
  
  .table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
  }
    .search-box {
    position: relative;
    float: right;
  }
    .search-box .input-group {
            min-width: 300px;
            position: absolute;
            right: 0;
    }
  
  .search-box .input-group-addon, .search-box input {
            border-color: #ddd;
            border-radius: 0;
    }
  .search-box input {
    height: 34px;
    padding-right: 35px;
    background: #f4fcfd;
    border: none;
    border-radius: 2px !important;
  }
    .search-box input:focus {
    background: #fff;
    }
    .search-box input::placeholder {
    font-style: italic;
  }
    .search-box .input-group-addon {
    min-width: 35px;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    z-index: 9;
    padding: 6px 0;
  }
  .search-box i {
    color: #a0a5b1;
    font-size: 17px;
    position: relative;
    top: 2px;
  }
  
    .editscroll{
  
    width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
    overflow: auto;
    }
  
  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting:before,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_asc:before,
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_asc_disabled:before,
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_desc:before,
  table.dataTable thead .sorting_desc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
  }
  .required
  {
  color: red;
  }
  
  .button2 {background-color: #337ab7;} /* Blue */